.btn-light {
    border-color: #CCCCCC;
}

.btn-spaced {
    margin-right: 2px;
    margin-bottom: 2px;
}

.btn-collection {
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-bottom {
    margin-top: 16px;
}

h4 {
    margin-top: 20px;
}

.title {
    text-align: center;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.header-item {
    margin-right: 10px;
}

.header {
    display: block;
}

td.vote-bar{
    width: 100%;
    margin-bottom: 2px;
}

div.vote-bar{
    display: flex;
    text-align: center;
}

.vote-bar-item {
    height: 20px;
}

.vote-bar-pro {
    background-color: yellowgreen;
}

.vote-bar-con {
    background-color: crimson;
}

table {
    width: 100%;
}

.inline-flex {
    display: inline-flex;
    margin-right: 16px;
    margin-bottom: 4px;

    span {
        margin: auto 4px auto 0px;
    }
}
.block {
    display: block;
}

div.filters {

}

.btn-vote {
    font-size: 16px;
    margin: 2px;
    height: 34px;
}